<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Pesquisa de satisfação
  </h1>
</div>
<ul ngFor>
  <li></li>
</ul>
<div class="padding-base">
  <mat-card>
    <mat-card-title>Nossa comunicação:</mat-card-title>
    <mat-card-subtitle>Como qualificaria a comunicação e a informação no website antes do evento?</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group>
        <div class="padding-base">
          <mat-radio-button value="1">Excelente</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="2">Muito bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="3">Bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="4">Regular</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="5">Ruim</mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="padding-base">
  <mat-card>
    <mat-card-title>Localização:</mat-card-title>
    <mat-card-subtitle>Como qualificaria o local do evento?</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group>
        <div class="padding-base">
          <mat-radio-button value="1">Excelente</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="2">Muito bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="3">Bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="4">Regular</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="5">Ruim</mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="padding-base">
  <mat-card>
    <mat-card-title>Credenciamento:</mat-card-title>
    <mat-card-subtitle>Como qualificaria a área de credenciamento?</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group>
        <div class="padding-base">
          <mat-radio-button value="1">Excelente</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="2">Muito bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="3">Bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="4">Regular</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="5">Ruim</mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="padding-base">
  <mat-card>
    <mat-card-title>Nossa comunicação:</mat-card-title>
    <mat-card-subtitle>Por favor, selecione as áreas que alcançaram suas expectativas durante o evento:</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group>
        <div class="padding-base">
          <mat-radio-button value="1">Excelente</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="2">Muito bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="3">Bom</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="4">Regular</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="5">Ruim</mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="padding-base">
  <mat-card>
    <mat-card-subtitle>Voltaria a participar em um evento com esta temática?</mat-card-subtitle>
    <mat-card-content>
      <mat-radio-group>
        <div class="padding-base">
          <mat-radio-button value="1">Sim</mat-radio-button>
        </div>
        <div class="padding-base">
          <mat-radio-button value="2">Não</mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="padding-base">
  <div class="example-container">
    <mat-form-field>
      <input matInput #input placeholder="Nome">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput #input placeholder="Email">
    </mat-form-field>
  </div>
  <div style="text-align: center;">
    <div style="display: inline-block;"><button mat-button mat-fab>Enviar</button></div>
  </div>
</div>